$primary-font: "Lato", "Arial", sans-serif;
$secondary-font: "Oswald", "Arial", sans-serif;

// Viewports
$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;

//Colors
$dark-grey: #444444;
$grey: #222222;
$grey-icon: #d3d3d3;
$grey-border: #666666;
$grey-logo: #d9d9d9;
$grey-border-light: #cdcdcd;
$bg-grey: #eaeaea;
$light-grey: #f2f2f2;
$basic-dark: #000000;
$light-dark: #111111;
$basic-green: #68b738;
$light-green: #5eaa2f;
$overlay-green: rgba(104, 183, 56, 0.85);
$basic-white: #ffffff;
$basic-border: #e6e6e6;
$border-form: #e7e7e7;
$error: #ff8282;
