.additional {
  @include full-width-line();

  display: block;
  position: relative;
  font-size: 14px;
  line-height: 14px;

  @include desktop {
    font-size: 16px;
    line-height: 20px;
  }
}

.additional__wrapper {
  @include container;

  @include tablet {
    display: block;
  }

  @include desktop {
    display: grid;
    grid-template-columns: 1fr 245px;
    gap: 0 80px;
    align-items: center;
  }
}

.additional__title-wrapper {
  @include container;
  position: relative;
  padding: 0;

  @include tablet {
    padding: 0 30px;
  }

  @include desktop {
    padding: 0  70px;
  }
}

.additional__title {
  @include title;
  display: inline-block;
  margin-bottom: 40px;
  padding: 0 40px 0 20px;
  background-color: $basic-white;

  @include tablet {
    margin-bottom: 80px;
    padding-left: 40px;
  }

  @include desktop {
    margin-bottom: 80px;
  }
}

.additional__list {
  display: grid;
  gap: 5px;
  margin: 0 0 32px;
  padding: 7px 0 0;
  list-style: none;
  border-top: 1px solid $grey-border-light;

  @include tablet {
    gap: 0;
    margin-bottom: 68px;
    padding: 0;
    border: 1px solid $grey-border-light;
  }

  @include desktop {
    margin: 0;
    border: none;
  }
}

.additional__item {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 14px;
  align-items: center;
  padding: 6px 0 20px;
  border-bottom: 1px solid $grey-border-light;
  color: $dark-grey;

  @include tablet {
    grid-template-columns: 1fr auto auto;
    gap: 23px 52px;
    padding: 27px 38px 28px;
    border-left: 0;
    border-right: 0;
  }

  @include desktop {
    grid-template-columns: 285px 135px 1fr 244px;
    height: 72px;
    gap: 40px;
    padding: 15px 0;
  }
}

.additional__name {
  @include subtitle;
  grid-column: -1 / 1;
  font-size: 16px;
  line-height: 16px;

  @include tablet {
    grid-column: 1;
  }
}

.additional__quantity {
  @include tablet {
    font-size: 16px;
    line-height: 20px;
  }

  @include desktop {
    grid-column: 2;
  }
}

.additional__button {
  @include button;
  grid-column: -1 / 1;

  @include tablet {
    font-size: 16px;
    line-height: 20px;
  }

  @include desktop {
    grid-column: 4;
  }
}

.additional__price {
  text-align: right;

  @include tablet {
    font-size: 16px;
    line-height: 20px;
  }

  @include desktop {
    grid-column: 3;
  }
}

.additional__gift {
  position: relative;
  display: flex;
  justify-content: center;
  min-height: 100px;
  height: 290px;
  padding: 60px 20px 43px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient($overlay-green), url("../../images/background-image/gift-bc-mobile@1x.jpg");

  @media (min-resolution: 2dppx) {
    background-image: linear-gradient($overlay-green), url("../../images/background-image/gift-bc-mobile@2x.jpg");
    background-size: 280px auto;
  }

  @include tablet {
    height: 200px;
    padding: 60px 80px;
    align-items: center;
    background-image: linear-gradient($overlay-green), url("../../images/background-image/gift-bc-tablet@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient($overlay-green), url("../../images/background-image/gift-bc-tablet@2x.jpg");
      background-size: 707px auto;
    }
  }

  @include desktop {
    height: 288px;
    padding: 56px 42px 42px;
    align-items: normal;
    background-image: linear-gradient($overlay-green), url("../../images/background-image/gift-bc-desktop@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient($overlay-green), url("../../images/background-image/gift-bc-desktop@2x.jpg");
      background-size: 245px auto;
    }
  }
}

.additional__gift::before {
  content: "";
  position: absolute;
  left: 36%;
  width: 78px;
  height: 80px;
  background-image: url("../../icons/stack.svg#icon-gift");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  @include tablet {
    left: 77px;
    top: 60px;
    width: 80px;
    height: 82px;
  }

  @include desktop {
    top: 58px;
    left: 83px;
  }
}

.additional__gift-text {
  margin: auto 0 0;
  max-width: 161px;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  color: $basic-white;

  @include tablet {
    margin: 0 44px 0 auto;
    padding: 0;
    max-width: 161px;
    text-align: left;
  }

  @include desktop {
    margin: auto 0 0;
    text-align: center;
  }
}
