.card {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding-bottom: 24px;
  text-align: center;
  color: $dark-grey;

  @include underline;

  @include tablet {
    grid-template-columns: 1fr;
    padding: 30px 37px 40px;
    background: linear-gradient(to bottom, $basic-white 95px, $light-grey 95px);
    line-height: 20px;
  }

  @include desktop {
    justify-content: center;
    background: linear-gradient(to bottom, $basic-white 100px, $light-grey 100px);
    max-width: 245px;
  }
}

.card:last-child {
  background: $basic-white;

  @include tablet {
    margin-top: 96px;
    padding-top: 34px;
    border: 1px solid $grey-border-light;
  }
}

.card__link-img {
  width: 100%;
  height: auto;

  @include tablet {
    height: 210px;
    padding-bottom: 10px;
  }

  @include desktop {
    width: 169px;
    height: 210px;
  }
}

.card__link {
  color: $grey;
  text-decoration: none;

  @include tablet {
    padding-bottom: 10px;
  }
}

.card__info-wrapper {
  display: grid;
  align-self: end;

  @include tablet {
    margin-bottom: 17px;
  }
}

.card__title {
  max-width: 76px;

  @include subtitle;
  padding: 0 0 14px;
  text-align: left;
  font-size: 16px;
  line-height: 20px;
  color: $dark-grey;

  @include tablet {
    padding: 16px 46px 10px;
    text-align: center;
    max-width: 100%;
    line-height: 24px;
  }

  @include desktop {
    padding: 5px 18px 15px;
  }
}

.card__info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 10px;
  margin: 0 0 21px;
  padding: 0;
  list-style: none;

  @include tablet {
    gap: 5px;
    margin: 0 0 16px;
  }

  @include desktop {
    margin: 0 0 21px;
  }
}

.card__item {
  grid-column: 1 / -1;
  display: flex;
  font-size: 12px;
  line-height: 16px;

  @include tablet {
    padding-bottom: 5px;
    font-size: 16px;
    line-height: 20px;
    border-bottom: 1px solid $grey-border-light;
  }
}

.card__img {
  @include tablet {
    height: 207px;
  }
}

.card__criterion {
  flex-grow: 1;
  text-align: left;
}

.card__value {
  flex-grow: 0;
}

.card__button {
  @include button;
  grid-column: -1 / 1;

  @include tablet {
    font-size: 16px;
    line-height: 20px;
  }

  @include desktop {
    padding: 10px 50px;
  }
}
