.catalog__wrapper {
  @include container;
  padding-bottom: 30px;

  @include tablet {
    margin-bottom: 73px;
  }

  @include desktop {
    margin-bottom: 70px;
  }
}

.catalog__title {
  @include main-title;
  position: relative;
  margin: 0;
  padding: 8px 0 41px;

  @include underline;

  @include tablet {
    padding: 60px 0 50px;
  }

  @include desktop {
    padding-top: 40px;
  }
}

.catalog__list {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  max-width: 100%;
  gap: 22px;
  margin: 0;
  padding: 20px 0 0;
  list-style: none;
  align-items: start;

  @include tablet {
    grid-template-columns: repeat(2, 1fr);
    gap: 46px 60px;
  }

  @include desktop {
    grid-template-columns: repeat(4, 1fr);
    gap: 52px 82px;
  }
}
