.footer {
  background-color: $light-grey;
}

.footer__wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;

  @include container;
  padding-bottom: 40px;

  @include tablet {
    flex-direction: row;
    padding: 43px 30px;
  }

  @include desktop {
    align-items: flex-start;
    padding: 68px 110px 60px;
  }
}

.footer__logo {
  margin: 0;
  padding-top: 36px;
  padding-bottom: 12px;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid $grey-logo;
  transition: opacity 0.25s ease-in-out;

  @include tablet {
    width: 128px;
    padding-top: 20px;
    padding-bottom: 14px;
    border-bottom: none;
  }

  @include desktop {
    padding-top: 5px;
  }

  &:hover {
    opacity: 0.8;
  }

  &:focus-visible {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.footer__logo-img {
  width: 128px;
  height: 24px;
}

.footer__social {
  margin: 0 auto;
  padding: 2px 0 19px;
  border-bottom: 1px solid $grey-logo;

  @include tablet {
    border-bottom: none;
    padding-bottom: 0;
    max-width: 95px;
    gap: 22px;
    padding-left: 39px;
  }

  @include desktop {
    padding-top: 7px;
  }
}

.footer__partner {
  width: 100%;

  @include tablet {
    width: fit-content;
  }
}
