.header {
  @include container;
  padding: 13px 0 0;
  font-family: $secondary-font;

  @include tablet {
    padding: 25px 0 0;
    border-bottom: 0;
  }

  @include desktop {
    margin-bottom: 30px;
    padding: 55px 0 0;
  }
}

.header__top {
  @include container;
  display: flex;
  align-items: center;
  padding-bottom: 9px;
  gap: 11px;

  @include tablet {
    padding-bottom: 0;
    gap: 0;
  }

  @include desktop {
    @include container;
  }
}

.header__logo-container {
  align-items: center;
  display: flex;
  width: 100%;

  @include tablet {
    gap: 13px;
    flex-grow: 1;
    width: max-content;
  }
}

.header__hero-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include tablet {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  @include desktop {
    padding: 0 50px;
  }
}

.header__hero {
  position: relative;
  margin: 25px 0 20px;
  text-align: center;

  @include tablet {
    margin: 0;
    padding: 60px 0 75px;
    position: relative;
    text-align: left;
  }

  @include desktop {
    margin: 0;
    padding: 105px 60px 0;
  }
}

.header-wrapper--background {
  position: relative;

  .header__hero-title,
  .header__hero-subtitle {
    color: $basic-white;
  }

  @include tablet {
    .header__hero-title,
    .header__hero-subtitle {
      color: $basic-dark;
    }
  }

  @include desktop {
    .nav__link {
      color: $basic-white;
    }

    .nav__item--active .nav__link {
      border-bottom: 2px solid $basic-white;
    }
  }
}

.header-wrapper--background::after {
  content: "";
  position: absolute;
  top: 65px;
  right: 0;
  width: 100%;
  height: 302px;
  background-image: linear-gradient($overlay-green), url("../../images/background-image/hero-bc-mobile@1x.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100% auto;
  color: $basic-white;
  z-index: -1;

  @media (min-resolution: 2dppx) {
    background-image:
      linear-gradient($overlay-green),
      url("../../images/background-image/hero-bc-mobile@2x.jpg");
  }

  @include tablet {
    display: none;
  }

  @include desktop {
    display: block;
    top: 0;
    right: 0;
    left: auto;
    width: 50%;
    height: 694px;
    background-image:
      linear-gradient($overlay-green),
      url("../../images/background-image/hero-bc-desktop@1x.jpg");
    background-position: left center;
    background-size: cover;
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background-image:
        linear-gradient($overlay-green),
        url("../../images/background-image/hero-bc-desktop@2x.jpg");
      background-size: cover;
    }
  }
}

.header__hero-content {
  max-width: 100%;

  @include tablet {
    margin: 0;
    padding: 0 120px;
    max-width: 100%;
    min-height: 734px;
  }

  @include desktop {
    padding: 0 80px 56px;
    max-width: 50%;
    min-height: 525px;
  }
}

.header__hero-title {
  @include main-title;
  margin-bottom: 25px;

  @include tablet {
    margin-bottom: 40px;
  }
}

.header__hero-subtitle {
  @include subtitle;
  margin-bottom: 29px;

  @include tablet {
    margin-bottom: 50px;
  }

  @include desktop {
    margin-bottom: 52px;
  }
}

.header__hero-button {
  @include button;
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 100%;
  max-width: 280px;
  transform: translateX(-50%);

  @include tablet {
    position: inherit;
    display: inline-block;
    left: 0;
    width: auto;
    padding: 17px 27px;
    transform: translateX(0);
  }
}

.header__hero-image {
  position: relative;
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
  width: 100%;

  @include tablet {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    bottom: -5px;
    margin: 0 auto;
    padding: 0;
    z-index: -1;
  }

  @include desktop {
    position: absolute;
    inset: 24px 0 auto 226px;
    max-width: 552px;
    text-align: center;
    margin: 0 auto;
    z-index: 1;
  }
}

.header__hero-img {
  width: 280px;
  height: auto;

  @include tablet {
    width: 709px;
  }

  @include desktop {
    width: 552px;
  }
}

.header__name {
  margin: 0 auto;
}

.header__name-img {
  width: 101px;
  height: auto;

  @include tablet {
    display: none;
  }
}

.header__logo {
  transition: opacity 0.25s ease-in-out;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
