.nav {
  margin-left: auto;
  z-index: 1;
}

.nav__toggle {
  position: relative;
  display: block;
  padding: 0;
  width: 24px;
  height: 24px;
  background: $basic-white;
  border: none;
  border-radius: 2px;
  cursor: pointer;

  @include tablet {
    display: none;
  }
}

.nav__toggle::before,
.nav__toggle::after {
  content: "";
  position: absolute;
  left: 0;
  width: 24px;
  height: 2px;
  background-color: $basic-dark;
  transition: transform 0.25s ease-in-out, top 0.25s ease-in-out, opacity 0.25s ease-in-out;
}

.nav__toggle::before {
  top: -1px;
}

.nav__toggle::after {
  top: 15px;
}

.nav__toggle span {
  position: absolute;
  left: 0;
  top: 7px;
  width: 24px;
  height: 2px;
  background-color: $basic-dark;
  transition: opacity 0.25s ease-in-out;
}

.nav--opened .nav__toggle::before {
  transform: rotate(45deg);
  top: 11px;
}

.nav--opened .nav__toggle::after {
  transform: rotate(-45deg);
  top: 11px;
}

.nav--opened .nav__toggle span {
  opacity: 0;
}

.nav__wrapper {
  display: none;
  position: absolute;
  top: 64px;
  left: 0;
  right: 0;
  background-color: $basic-white;
  z-index: 10;

  @include tablet {
    position: static;
    display: block;
    background: none;
    box-shadow: none;
  }
}

.nav--opened .nav__wrapper {
  display: block;
}

.nav--nojs .nav__wrapper {
  display: block;
  position: static;
}

.nav--nojs .nav__toggle {
  display: none;
}

.nav__list {
  display: flex;
  flex-flow: column wrap;
  margin: 0;
  padding: 0;
  list-style: none;

  @include tablet {
    flex-direction: row;
    gap: 25px;
    max-width: 440px;
  }

  @include desktop {
    max-width: 580px;
  }
}

.nav__item {
  text-align: center;
  border-top: 1px solid $grey-border-light;

  &:last-child {
    border-bottom: 1px solid $grey-border-light;
  }

  @include tablet {
    border: none;

    &:last-child {
      border-bottom: none;
    }
  }
}

.nav__link {
  @include subtitle;
  display: block;
  text-decoration: none;
  font-size: 20px;
  line-height: 20px;
  padding: 22px 0;
  transition: opacity 0.25s ease-in-out;

  @include tablet {
    font-size: 18px;
    line-height: 24px;
    padding: 7px 5px;
  }

  @include desktop {
    font-size: 20px;
  }

  &:hover {
    opacity: 0.3;
  }

  &:active {
    opacity: 0.6;
  }
}

.nav__item--active .nav__link {
  border-bottom: none;

  @include tablet {
    padding: 7px 0;
    border-bottom: 2px solid $basic-green;
  }
}
