.programs__wrapper {
  @include container;
  padding-bottom: 22px;

  @include tablet {
    padding-bottom: 45px;
  }

  @include desktop {
    padding-bottom: 70px;
  }
}

.programs__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
  align-items: start;
  padding: 0;
  margin: 0;
  list-style: none;

  @include tablet {
    gap: 30px;
  }

  @include desktop {
    grid-template-columns: 1fr 1fr;
    max-width: 100%;
    gap: 80px;
  }
}

.programs__item {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding: 23px 30px 18px 20px;
  background: $light-grey;

  @include tablet {
    flex-direction: column;
    align-items: start;
    padding: 79px 63px 60px 52px;
  }

  @include desktop {
    flex-flow: row wrap;
    align-items: center;
    padding: 41px 61px 65px 52px;
  }
}

.programs__item-name {
  position: relative;
  display: flex;
  align-items: center;

  @include desktop {
    gap: 62px;
  }
}

.programs__title {
  @include title;
  flex: 1;
  margin: 0 0 0 20px;
  padding: 0;
  line-height: 37px;
  text-transform: uppercase;

  @include tablet {
    margin: 0;
    font-size: 36px;
    line-height: 36px;
  }

  @include desktop {
    margin: 0 auto;
    text-align: center;
  }
}

.programs__text {
  margin: 0;
  padding: 22px 0;
  border-bottom: 1px solid $basic-border;
  font-size: 14px;
  line-height: 18px;

  @include tablet {
    max-width: 57%;
    margin: 0;
    padding-bottom: 39px;
    border-bottom: 0;
    font-size: 16px;
    line-height: 24px;
  }

  @include desktop {
    max-width: 100%;
    margin: 0;
    padding: 39px 0 23px;
  }
}

.programs__link {
  @include subtitle;
  display: inline-flex;
  align-items: center;
  gap: 13px;
  padding: 20px 15px 0 0;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  transition: opacity 0.25s ease-in-out;

  @include tablet {
    gap: 22px;
    padding-top: 13px;
  }

  &:active {
    opacity: 0.1;
  }

  &.programs__link--more {
    &::after {
      content: "";
      width: 24px;
      height: 12px;
      background-color: $basic-dark;
      mask: url("../../icons/stack.svg#icon-arrow") center/contain no-repeat;
      mask-size: 100% 100%;
      transition:
        width 0.25s ease-in-out,
        opacity 0.25s ease-in-out;
    }

    &:hover::after {
      width: 32px;
    }

    &:active::after {
      width: 32px;
      opacity: 0.3;
    }
  }
}

.programs__item-icon {
  content: "";
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: $overlay-green;

  @include tablet {
    position: absolute;
    top: 14px;
    left: 100%;
    width: 200px;
    height: 200px;
    transform: translateX(95%);
  }

  @include desktop {
    position: relative;
    left: 0;
    top: 0;
    width: 100px;
    height: 100px;
    transform: translateX(0%);
  }
}

.programs__item-icon--slim::after {
  content: "";
  position: absolute;
  top: -2px;
  left: 7px;
  width: 36px;
  height: 50px;
  background-image: url("../../icons/stack.svg#icon-cat-slim");
  background-repeat: no-repeat;
  background-size: 36px 50px;

  @include tablet {
    top: -11px;
    left: 30px;
    width: 140px;
    height: 194px;
    background-size: 140px 194px;
  }

  @include desktop {
    top: -6px;
    left: 15px;
    width: 70px;
    height: 97px;
    background-size: 70px 97px;
  }
}

.programs__item-icon--slim:first-child {
  @include tablet {
    margin-left: 38px;
  }

  @include desktop {
    margin-left: 0;
  }
}

.programs__item-icon--pro::after {
  content: "";
  position: absolute;
  top: 12px;
  left: -8px;
  width: 67px;
  height: 28px;
  background-image: url("../../icons/stack.svg#icon-cat-pro");
  background-repeat: no-repeat;
  background-size: 67px 28px;

  @include tablet {
    top: 43px;
    left: -35px;
    width: 268px;
    height: 112px;
    background-size: 268px 112px;
  }

  @include desktop {
    top: 20px;
    left: -17px;
    width: 134px;
    height: 56px;
    background-size: 134px 56px;
  }
}
