.slider {
  --value: 50%;
  position: relative;
  width: 280px;
  height: 256px;
  margin: 0 auto;

  @include tablet {
    width: 560px;
    height: 512px;
  }

  @include desktop {
    position: absolute;
    right: 110px;
  }
}

.slider__image {
  position: absolute;
  top: 0;
  width: calc(100% + 40px);
  max-width: 285px;
  height: 100%;
  object-fit: cover;

  @include tablet {
    width: 100%;
    max-width: 560px;
  }
}

.slider__image--before {
  left: 0;
  object-position: left;
  width: calc(var(--value) + 14px);
  margin-left: -14px;

  @include tablet {
    width: var(--value);
    margin-left: 0;
  }
}

.slider__image--after {
  right: 0;
  width: calc(100% - var(--value) + 9px);
  max-width: 256px;
  object-position: right;
  margin-right: -9px;

  @include tablet {
    width: calc(100% - var(--value));
    margin-right: 0;
    max-width: 100%;
  }
}

.slider__range-visible {
  position: absolute;
  top: 0;
  left: var(--value);
  width: 4px;
  height: 100%;
  background-color: $grey-border;
  transform: translateX(-50%);
  pointer-events: none;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    background-color: $basic-white;
    border-radius: 50%;
    border: 2px solid $grey-border;
    transform: translate(-50%, -50%);
    z-index: 1;
    transition: border-color 0.2s ease;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    mask-image: url("../../icons/stack.svg#icon-thumb-arrow");
    background-color: $grey-border;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 24px 18px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    transition: background-color 0.2s ease;
  }
}

.slider__range-js {
  position: absolute;
  margin: 0;
  opacity: 0;
  inset: 0;
  z-index: 2;
  transition: background-color 0.25s ease-in-out, border-color 0.25s ease-in-out;


  &:hover {
    cursor: col-resize;

    & + .slider__range-visible {
      background-color: $basic-green;

      &::before {
        border-color: $basic-green;
      }

      &::after {
        background-color: $basic-green;
      }
    }
  }

  &:active {
    & + .slider__range-visible {
      background-color: $light-green;

      &::before {
        border-color: $light-green;
      }

      &::after {
        background-color: $light-green;
      }
    }
  }

  &:focus-visible {
    & + .slider__range-visible {
      outline: 2px solid $basic-green;
      outline-offset: 2px;

      &::before {
        outline: 2px solid $basic-green;
        outline-offset: 1px;
        border-color: $basic-green;
      }
    }
  }
}
