.steps {
  @include tablet {
    counter-reset: steps-counter;
  }
}

.steps__wrapper {
  @include container;
  padding: 4px 20px 49px;

  @include tablet {
    padding-bottom: 47px;
    border-bottom: 1px solid $basic-border;
  }

  @include desktop {
    padding-bottom: 69px;
    border-bottom: none;
  }
}

.steps__title {
  @include main-title;
  margin-bottom: 42px;

  @include tablet {
    margin-bottom: 32px;
  }
}

.steps__list {
  display: grid;
  row-gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;

  @include tablet {
    grid-template-columns: repeat(2, 1fr);
    gap: 37px 59px;
  }

  @include desktop {
    grid-template-columns: repeat(4, 1fr);
    gap: 77px;
  }
}

.steps__item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;

  @include tablet {
    position: relative;
    display: block;
    min-height: 280px;
    max-width: 250px;
  }

  @include desktop {
    max-width: 250px;
  }
}

.steps__item::before {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  padding-right: 60px;
  background-color: $basic-green;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px 32px;

  @include tablet {
    width: 80px;
    height: 80px;
    margin-top: 41px;
    padding-right: 0;
  }
}

.step--leaf::before {
  background-image: url("../../icons/stack.svg#icon-leaf");
}

.step--water::before {
  background-image: url("../../icons/stack.svg#icon-water");
}

.step--eat::before {
  background-image: url("../../icons/stack.svg#icon-eat");
}

.step--alarm::before {
  background-image: url("../../icons/stack.svg#icon-alarm");
}

.steps__item::after {
  @include tablet {
    counter-increment: steps-counter;
    content: counter(steps-counter);
    position: absolute;
    right: 0;
    top: 0;
    font-size: 280px;
    font-family: $secondary-font;
    color: $light-grey;
    line-height: 1;
    z-index: 0;
  }
}

.step__text {
  margin: 0;
  color: $dark-grey;
  z-index: 1;
  flex: 1;
  font-size: 14px;
  line-height: 18px;

  @include tablet {
    font-size: 16px;
    line-height: 24px;
    position: relative;
    padding-top: 31px;
  }
}
